* {
    font-family: Montserrat;
}

body {
    z-index: 0;
    margin: 0;
}

.wrap {
    width: 100%;
    background: linear-gradient(180deg, #7163b8 3.44%, rgba(60, 26, 174, 0.98) 59.35%, #2201c8 83.25%);
    padding-top: 30px;
    position: relative;
    z-index: 0;
}

.wrap::before {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    height: 349px;
    width: 100%;
    background-image: url('../images/wave (6).svg');
    background-size: cover;
    background-position: 0 0;
    z-index: -1;
}

.container {
    display: flex;
    width: 100%;
    max-width: 1175px;
    margin: 0 auto;
}

.container2 {
    width: 100%;
    margin: 0 auto;
    margin-left: 20px;
    margin-right: 20px;
}

.container_2 {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}

.header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header__burger-btn {
    display: none;
    position: relative;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    z-index: 2;
}

.header__burger-btn span {
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #fff;
    left: 5px;
}

.header__burger-btn span:nth-child(1) {
    transform: translateY(-10px);
}

.header__burger-btn span:nth-child(3) {
    transform: translateY(10px);
}

.logo > img {
    height: 100px;
    width: 100px;
}

.footer__logo > a > img {
    height: 80px;
    width: 80px;

}

.nav {
    display: flex;
    align-items: center;
    padding-left: 200px;
}

.nav_item {
    list-style-type: none;
    margin-right: 76px;
}

.nav_item2 {
    padding-top: 7px;
    list-style-type: none;
    margin-right: 10px;
    margin-left: 30px;
}

.nav_item3 {
    list-style-type: none;
    margin-right: 60px;
    margin-left: 0px;
}


.nav_item_link {
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 18px;
    color: #F2F6FF;
}

.nav_item_link2 {
    text-decoration: none;
    font-weight: 400;
    font-size: 30px;
    line-height: 18px;
    color: #F2F6FF;
}

.user-box {
    display: flex;
    width: 327px; 
    align-items: center;
}

#user-options {
    margin-left: 10px;
    padding: 5px;
}

.user-box a {
    padding-top: 5px;
    padding-bottom: 8px;
    text-decoration: none;
    line-height: 18px;
    color: #F2F6FF;
    display: block;
    white-space: nowrap; /* Запрещает перенос текста на новую строку */
    overflow: hidden; /* Скрывает содержимое, которое не помещается */
    text-overflow: ellipsis; /* Заменяет не помещающееся содержимое многоточием */
}

.dropdown {
    padding-top: 7px;
    padding-left: 42px;
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    text-decoration: none;
    font-weight: 400;
    font-size: 30px;
    line-height: 18px;
    color: #F2F6FF;
}

.dropdown-menu {
    background-color: aliceblue;
    padding: 10px 20px;
    box-shadow: 0 5px 10px rgb(255, 255, 255);
    border-radius: 7px;
    border: 1px solid rgba(0, 0, 0, 0.729);
    width: 200px;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    position: absolute;
}

.dropdown-menu.show {
    z-index: 99;
    visibility: visible;
    opacity: 1;
}

.dropdown-menu a {
    display: block;
    padding: 10px 0;
    color: #000;
    opacity: 0.6;
    text-decoration: none;
}

.dropdown-menu a:hover {
    opacity: 1;
}


.footer {
    margin-top: 80px;
    padding-top: 80px;
    padding-bottom: 30px;
    width: 100%;
    position: relative;
}

.footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__nav ul {
    display: flex;
    align-items: center;
}

.footer__nav__item{
    list-style-type: none;
    margin-right: 30px;
}

.footer__nav li.footer__nav__item a {
    padding-left: 60px;
    padding-right: 60px;
    color: #F2F6FF;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: 'Philosopher';
    font-weight: 400;
    text-decoration: none;
}

.footer__nav > ul {
    padding-right: 40px;
} 

.footer__social {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.footer__logo {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

footer::before {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    height: 188px;
    width: 100%;
    background-image: url('../images/wave (7).svg');
    background-size: cover;
    background-position: 0 0;
    z-index: -1;
}

.couses_children {
    margin: 30px;
    font-size: 35px;
    line-height: 24px;
    color: #ffffffe8;
    text-align: center;
}

.create_course {
    padding-left: 95px;
    max-width: 215px;
    line-height: 18px;
    
}

.courses_box {
    padding: 0 60px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.create_course a {
    font-size: 22px;
    color: #00ff11;
    text-decoration: none;
    transition: color 0.1s;
}

.create_course a:hover {
    color: #c269f2; /* Цвет текста при наведении */
}

.courses {
    display: inline-block; 
}
.couses_cart {
    text-align: center;
    width: 350px;
    transition: .2s;
    padding: 30px;
    background: linear-gradient(209.21deg, rgb(15, 12, 156) 13.57%, rgb(2, 114, 194) 98.38%);
    border-radius: 20px;
    filter: drop-shadow(0px 0px 7px rgba(255, 255, 255, 0.7));
    display: flex;
    flex-direction: column;
    margin: 24px;
}
.couses_cart:hover {
    transform: scale(1.1);
}
.couses_cart_2:hover {
    transform: scale(1.1);
}
.course_cart_image {
    display: block;
    width: 180px;
    margin: 0 auto;
    margin-top: 20px;
}
.course_cart_info {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.course_card_trans {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    margin-left: 10px;
}
.course_card_descr {
    margin-top: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    color: rgba(255, 255, 255, 0.9);
}
.course_card_descr_2 {
    text-align: center;
    color: #1F1F47;
    font-size: 16px;
    line-height: 22px;
    
}
.price{
    padding: 5px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 0.5px rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10.5px);
    border-radius: 10px;
    display: block;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    
}

.nav_item_login,
.nav_item_register {
    display: none;
}

.nav_item_login a,
.nav_item_register a {
    display: none;
}

@media (max-width: 768px) {
    .header__burger-btn {
        display: block;
    }

    .menu {
        position: absolute;
        left: -400px;
        top: 0;
        width: 260px;
        /* background-color: blueviolet; */
        background-color: rgba(255, 255, 255, 0.5);
        padding: 75px 20px 20px 20px;
        transition: transform .5s;
        z-index: 1;
        border-radius: 30px;
    }

    .nav {
        display: block;
        padding-left: 150px;
    }

    .nav_item_link {
        color: rgba(0, 0, 0, 0.7);
        font-size: 21px;
        display: block;
        padding: 10px 0px;
    }

    .header.open .menu{
        transform: translateX(100%);
    }

    .nav_item2 {
        display: none;
    }

    /* Добавляем Вход и Регистрация */
    .nav_item_login,
    .nav_item_register {
        display: block;
        list-style-type: none;
        margin-right: 20px; /* Можете настроить отступ по вашему усмотрению */
    }

    .nav_item_login a,
    .nav_item_register a {
        display: block;
        text-decoration: none;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        color: rgba(0, 0, 0, 0.7);
    }
}