* {
    font-family: Montserrat;
}

body {
    z-index: 0;
    margin: 0;
}

.wrap {
    width: 100%;
    background: linear-gradient(180deg, #7163b8 3.44%, rgba(60, 26, 174, 0.98) 59.35%, #2201c8 83.25%);
    padding-top: 30px;
    position: relative;
    z-index: 0;
}

.wrap::before {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    height: 349px;
    width: 100%;
    background-image: url('../images/wave (6).svg');
    background-size: cover;
    background-position: 0 0;
    z-index: -1;
}

.container {
    display: flex;
    width: 100%;
    max-width: 1175px;
    margin: 0 auto;
}

.container2 {
    width: 100%;
    margin: 0 auto;
    margin-left: 20px;
    margin-right: 20px;
}

.container_2 {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}

.header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo > img {
    height: 100px;
    width: 100px;
}

.footer__logo > a > img {
    height: 80px;
    width: 80px;

}

.nav {
    display: flex;
    align-items: center;
    padding-left: 200px;
}


.nav_item {
    list-style-type: none;
    margin-right: 76px;
}

.nav_item2 {
    padding-top: 7px;
    list-style-type: none;
    margin-right: 10px;
    margin-left: 30px;
}

.nav_item3 {
    list-style-type: none;
    margin-right: 60px;
    margin-left: 0px;
}


.nav_item_link {
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 18px;
    color: #F2F6FF;
}

.nav_item_link2 {
    text-decoration: none;
    font-weight: 400;
    font-size: 30px;
    line-height: 18px;
    color: #F2F6FF;
}

.user-box {
    display: flex;
    width: 327px; 
    align-items: center;
}

#user-options {
    margin-left: 10px;
    padding: 5px;
}

.user-box a {
    padding-top: 5px;
    padding-bottom: 8px;
    text-decoration: none;
    line-height: 18px;
    color: #F2F6FF;
    display: block;
    white-space: nowrap; /* Запрещает перенос текста на новую строку */
    overflow: hidden; /* Скрывает содержимое, которое не помещается */
    text-overflow: ellipsis; /* Заменяет не помещающееся содержимое многоточием */
}

.dropdown {
    padding-top: 7px;
    padding-left: 42px;
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    text-decoration: none;
    font-weight: 400;
    font-size: 30px;
    line-height: 18px;
    color: #F2F6FF;
}

.dropdown-menu {
    background-color: aliceblue;
    padding: 10px 20px;
    box-shadow: 0 5px 10px rgb(255, 255, 255);
    border-radius: 7px;
    width: 200px;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    position: absolute;
}

.dropdown-menu.show {
    z-index: 99;
    visibility: visible;
    opacity: 1;
}

.dropdown-menu a {
    display: block;
    padding: 10px 0;
    color: #000;
    opacity: 0.6;
    text-decoration: none;
}

.dropdown-menu a:hover {
    opacity: 1;
}

.footer {
    padding-top: 80px;
    padding-bottom: 30px;
    width: 100%;
    position: relative;
}

.footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__nav ul {
    display: flex;
    align-items: center;
}

.footer__nav__item{
    list-style-type: none;
    margin-right: 30px;
}

.footer__nav li.footer__nav__item a {
    padding-left: 60px;
    padding-right: 60px;
    color: #F2F6FF;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: 'Philosopher';
    font-weight: 400;
    text-decoration: none;
}

.footer__nav > ul {
    padding-right: 40px;
} 

.footer__social {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.footer__logo {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

footer::before {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    height: 188px;
    width: 100%;
    background-image: url('../images/wave (7).svg');
    background-size: cover;
    background-position: 0 0;
    z-index: -1;
}

.sign {
    width: 390px;
}

section {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 80px;
    position: relative;
    max-width: 400px;
    border: 3px solid rgba(255, 255, 255, 0.729);
    border-radius: 20px;
    backdrop-filter: blur(55px);
    align-items: center;
    padding: 2rem 5rem;
    background: linear-gradient(180deg, #1d03a1 3.44%, rgb(88 54 202 / 98%) 59.35%, #6d58d4 83.25%);
    position: relative;
    z-index: 0;
    padding-left: 30px;
    padding-right: 30px;
}



.section {
    display: flex;
    justify-content: center;
    
}

h1 {
    font-size: 2rem;
    color: #fff;
    text-align: center;
}

.inputbox {
    position: relative;
    margin: 15px 0;
    max-width: 100%;
}

.inputbox > div > label {
    padding-left: 10px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 17px;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
}


.inputbox > input {
    width: 100%;
    height: 40px;
    background: transparent;
    font-size: 1rem;
    padding: 0 5px 0 5px;
    color: #fff;
    border-radius: 15px;
}

.inputbox > div{
    padding-bottom: 10px;
}

::placeholder {
    color: #ffffff92; /* Цвет плейсхолдера */
   
}

button {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background-color: rgb(255, 255,255, 1);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.4s ease;
}

button:hover {
  background-color: rgb(255, 255,255, 0.5);
}

.register {
    font-size: 0.9rem;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}

.register p a {
    color: #fff;
    font-weight: 600;
}

.register p a:hover {
    text-decoration: underline;
}